<%= stylesheet_link_tag "header" %>
<body>
    <div class="header">
        <%= image_tag("sfu_logo.png", {:style => "width:314px;"}) %>
        <p><b>SFU CS Grad Buddy</b></p>
        <svg width ="100%" height = "15">
            <g color="#A6192E">
            <rect width="100%" height="15" fill="currentColor" />
            </g>
        </svg>
    </div>
</body>