<% provide(:title, "Login") %>
<html>
	<div class="navbar navbar-fixed-top myNavbar">
		<%= link_to image_tag("sfu_logo.png", alt: "SFU logo", id: "logo"), 'http://www.sfu.ca/' %>
		<nav>
			<ul class ="nav navbar-nav navbar-right">
				<li><%= link_to "Sign up", 'signup' %></li>
			</ul>
		</nav>
	</div>

	<h1>
		This page reserved for login!!!!

		User:

		Password:
	</h1>
</html>