<%= render('static_pages/header') %>
<p id=”alert”><%= alert %></p><h1>Login</h1><%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :userid %>
    <%= text_field_tag :userid %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag 'Login' %>
  </div>
<% end %>